<div class="container">
  <div class="row justify-content-md-center">
    <h2>Editer mes paramètres</h2>
  </div>
  <br/>

  <div class="row justify-content-lg-center cols-xs-space cols-sm-space cols-md-space">
    <div class="col-lg-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name, "Nom" %><br />
        <%= f.text_field :name %>
      </div>
      
      <div class="form-group">
        <%= f.label :firstname, "Prénom" %><br />
        <%= f.text_field :firstname %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :password %> <span style="font-size: 0.8rem">(leave blank if you don't want to change it)</span><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      
      <div class="form-group">
        <%= f.label :current_password %> <span style="font-size: 0.8rem">(we need your current password to confirm your changes)</span><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-lg-center">  
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
  <% end %>

<hr/>
<div class="container ">
  <div class="row justify-content-md-center cols-xs-space cols-sm-space cols-md-space">
    <h3>Supprimer mon compte</h3>
  </div>
  <div class="row justify-content-md-center">  
    <div>
      <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr ?" }, method: :delete, :class => "btn btn-styled btn-danger"  %></p>
    </div>
  </div>
  <p><%= link_to "Retour", :back %></p>
</div>

</div>
