

            <div class="st-pusher">
                <div class="st-content">
                    <div class="st-content-inner">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="main-content">
                <!-- Page title -->
                <div class="page-title">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                <a href="#" class="link text-underline--none">
                                    <i class="ion-ios-arrow-back"></i> Settings
                                </a>
                            </h2>
                        </div>
                        <div class="col-lg-6 col-12">

                        </div>
                    </div>
                </div>

                <div class="link-menu link-menu--style-3 py-4 border-bottom">
                    <a href="../../pages/profile/account-settings.html" class="active">Settings</a>
                    <a href="../../pages/profile/account-orders.html">Orders</a>

                </div>

                <!-- Account settings -->
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-default" data-toggle="validator" role="form">
                            <!-- General information -->
                            <div class="card no-border bg-transparent">
                                <div class="card-title px-0 pb-0 no-border">
                                    <h3 class="heading heading-6 strong-600">
                                        General information
                                    </h3>
                                    <p class="mt-1 mb-0">
                                        You can help us, by filling your data, create you a much better experience using our website.
                                    </p>
                                </div>
                                <div class="card-body px-0">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <%# <div class="form-group"> %>
                                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                                    <%= devise_error_messages! %>
                                                        <div class="form-control form-control-lg">
                                                            <%= f.label :name, "Nom" %>
                                                                <br />
                                                                <%= f.text_field :name %>
                                                        </div>
                                            </div>

                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-control form-control-lg">
                                                            <%= f.label :firstname, "Prénom" %><br />
                                                                   <%= f.text_field :firstname %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0 mb-0"> Account info
                                <div class="card no-border bg-transparent">
                                    <div class="card-title px-0 pb-0 no-border">
                                        <h3 class="heading heading-6 strong-600">
                                            Account info
                                        </h3>
                                        <p class="mt-1 mb-0">
                                            Edit your email and also, your newsletter subscriptions.
                                        </p>
                                    </div>
                                    <div class="card-body px-0">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <%# <input type="email" class="form-control form-control-lg" value="name@example.com" enabled> %>
                                                            <%= f.label :email %><br />
                                                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                                </div>
                                                 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
                                            </div>

                                            <div class="col-md-6 col-lg-4">
                                                <a href="#" class="link link-sm link--style-2 mt-2">Change email</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>

                    <hr class="mt-0 mb-0">

                    <!-- Change password -->
                    <div class="card no-border bg-transparent">
                        <div class="card-title px-0 pb-0 no-border">
                            <h3 class="heading heading-6 strong-600">
                                Change password
                            </h3>
                        </div>
                        <div class="card-body px-0">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-control-lg">
                                        <label class="control-label">Current password</label>
                                        
                                         <%= f.label :current_password %> 
        <%= f.password_field :current_password, autocomplete: "off" %>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">

                                    
                                    </div>
                                           <%= f.label :password %> <span class="form-control form-control-lg">
                                        <%= f.password_field :password, autocomplete: "off" %>
                                        <% if @minimum_password_length %>
                                        <br />
                                        <em><%= @minimum_password_length %> characters minimum</em>
                                                <% end %>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-control form-control-lg">
                                                <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <a href="#" class="btn btn-base-1">Change password</a>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

            <hr class="mt-0 mb-0">

            </ul>
        </div>
          <div class="row justify-content-lg-center">  
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
  

        <div class="container ">
  <div class="row justify-content-md-center cols-xs-space cols-sm-space cols-md-space">
    <h3>Supprimer mon compte</h3>
  </div>
  <div class="row justify-content-md-center">  
    <div>
      <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr ?" }, method: :delete, :class => "btn btn-styled btn-danger"  %></p>
    </div>
  </div>
  <p><%= link_to "Retour", :back %></p>
</div>
    </div>
    </div>
    </div>
</div>
<% end %>
