<section class="slice-xs sct-color-2 border-bottom">
    <div class="container container-sm">
		<div class="section-title section-title--style-1 text-center mb-4">
		    <h3 class="section-title-inner heading-2 strong-400">
		        <span>Merci pour votre achat !</span>
		    </h3>
		    <span class="section-title-delimiter clearfix"></span>
		</div>

		<div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
		    Tu verras, les chatons vaincront ! 
		</div>
	</div>
</section>
