<section class="slice-xs sct-color-2 border-bottom">
    <div class="container container-sm">
    	<div class="row"> Order # <%= @order.id %> </div>
    	<table class="table-cart border-bottom">
    		<thead>
    		    <tr>
    		        <th class="product-image">Image</th>
  					<th class="product-name">Product</th>
    		        <th class="product-price d-none d-lg-table-cell">Price</th>
    		    </tr>
    		</thead>
    		<tbody>
    		<% @order.purchased_items.each { |item| %>
    		    <tr class="cart-item">
    		        <td class="product-image">
    		        	<a href="<%= item_path(item.id) %>" class="mr-5">
    		            	<img src="<%= item.image_url %>">
    		            </a>
    		        </td>
    		        <td class="product-name">
    		        	<span class="pr-4"><%= item.title %></span>
    		        </td>
    		        <td class="product-price d-none d-lg-table-cell">
    		        	<span class="pr-4"><%= item.price %></span>
    		        </td>
    		    </tr>
    		<% } %> 
    		</tbody>
    	</table>
    </div>
</section>