<section class="slice-xs sct-color-2 border-bottom">
    <div class="container container-sm">
        <div class="row cols-delimited">
            <div class="col-3">
                <div class="icon-block icon-block--style-1-v5 text-center">
                    <div class="block-icon mb-0">
                        <i class="icon-hotel-restaurant-105"></i>
                    </div>
                    <div class="block-content d-none d-md-block">
                        <h3 class="heading heading-sm strong-300 c-gray-light text-capitalize">1. Shopping bag</h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="icon-block icon-block--style-1-v5 text-center">
                    <div class="block-icon mb-0">
                        <i class="icon-finance-067"></i>
                    </div>
                    <div class="block-content d-none d-md-block">
                        <h3 class="heading heading-sm strong-300 c-gray-light text-capitalize">1. Customer info</h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="icon-block icon-block--style-1-v5 text-center">
                    <div class="block-icon  mb-0">
                        <i class="icon-finance-018"></i>
                    </div>
                    <div class="block-content d-none d-md-block">
                        <h3 class="heading heading-sm strong-300 c-gray-light text-capitalize">2. Shipping info</h3>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="icon-block icon-block--style-1-v5 text-center active">
                    <div class="block-icon c-gray-light mb-0">
                        <i class="icon-finance-059"></i>
                    </div>
                    <div class="block-content d-none d-md-block">
                        <h3 class="heading heading-sm strong-300 c-gray-light text-capitalize">3. Payment method</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="row row-no-padding cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-7">
                <form class="form-default mt-4" data-toggle="validator" role="form">
                    <h3 class="heading heading-3 strong-400 mb-4">Payment method</h3>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="radio">
                                        <input type="radio" name="radioPayment" id="radioPayment_1" checked>
                                        <label class="heading heading-6 strong-600" for="radioPayment_1">Credit Card</label>
                                    </div>

                                    <p class="c-gray-light mt-2 pl-4">
                                        Safe money transfer using your bank account. We support Mastercard, Visa, Maestro and Skrill.
                                    </p>
                                </div>

                                <div class="col-lg-4 text-lg-right">
                                    <%= image_tag(image_path('icons/cards/mastercard.png')) %>
                                    <%= image_tag(image_path('icons/cards/visa.png')) %>
                                    <%= image_tag(image_path('icons/cards/skrill.png')) %>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Card number</label>
                                        <div class="input-group input-group--style-1">
                                            <input type="text" class="form-control form-control-lg input-mask" data-mask="0000 0000 0000 0000" placeholder="0000 0000 0000 0000">
                                            <span class="input-group-addon">
                                                <i class="ion-card"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Name on card</label>
                                        <input type="text" class="form-control form-control-lg">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Expiry date</label>
                                        <input type="text" class="form-control form-control-lg input-mask" data-mask="00/00" placeholder="MM/YY">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">CVV code</label>
                                        <div class="input-group input-group--style-1">
                                            <input type="text" class="form-control form-control-lg input-mask" data-mask="000">
                                            <span class="input-group-addon" data-toggle="popover" title="What is a CVV code?" data-content="It is a three digit code that can be found only on the back of your card. Be carefull so no one sees it.">
                                                <i class="ion-help-circled"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center pt-5">
                      <div class="col-6">
                          <a href="<%= root_path %>" class="link link--style-3">
                              <i class="ion-android-arrow-back" ></i>
                              Return to shop
                          </a>
                      </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-styled btn-base-1">Complete order</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 ml-lg-auto">
                <div class="card">
                    <div class="card-title">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3 class="heading heading-3 strong-400 mb-0">
                                    <span>Summary</span>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table-cart table-cart-review">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @test.each do |item| %>

                                <tr class="cart_item">
                                    <td class="product-name">
                                        <%= item.title %>
                                        <strong class="product-quantity">× 1</strong>
                                    </td>
                                    <td class="product-total text-right">
                                        <span><%= item.price %></span>
                                    </td>
                                </tr>
                                <% end %>

                            </tbody>

                            <tfoot>
                                <tr class="cart-subtotal no-border">

                                <tr class="cart-total">
                                    <th><span class="strong-600">Total</span></th>
                                    <td class="text-right">
                                        <strong><span> test</span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                      </div>
                  </div>

                  <div class="sidebar sidebar--style-2 mt-5">
                      <div class="sidebar-object mb-0">
                          <div class="icon-block icon-block--style-1-v2">
                              <div class="block-icon block-icon-sm pt-2">
                                  <i class="icon-transport-025"></i>
                              </div>
                              <div class="block-content">
                                  <h3 class="heading heading-6 strong-500">Fast shipping from 24 to 38 hours</h3>
                                  <p>
                                      We will send you your cat by howl don't worry.... except if the howl is hungry!
                                  </p>
                              </div>
                          </div>

                          <div class="icon-block icon-block--style-1-v2 mt-5">
                              <div class="block-icon block-icon-sm pt-2">
                                  <i class="icon-finance-114"></i>
                              </div>
                              <div class="block-content">
                                  <h3 class="heading heading-6 strong-500">30 days money back guarantee</h3>
                                  <p>
                                      You want your money back? You don't like your new cat? Are you serious? But....it's a cat! everybody loves cats !
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
