<section class="slice-xs sct-color-2 border-bottom">
    <div class="container container-sm">
        <div class="row cols-delimited">
            <div class="col-3">
                <div class="icon-block icon-block--style-1-v5 text-center active">
                    <div class="block-icon mb-0">
                        <i class="icon-hotel-restaurant-105"></i>
                    </div>
                    <div class="block-content d-none d-md-block">
                        <h3 class="heading heading-sm strong-300 c-gray-light text-capitalize"> Shopping Cart</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="row cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-8">
                    <div class="">
                        <div class="">
                            <% unless @items_of_users_cart == nil %>
                            <table class="table-cart border-bottom">
                                <thead>
                                    <tr>
                                        <th class="product-image"></th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price d-none d-lg-table-cell">Price</th>
                                        <th class="product-remove"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @items_of_users_cart.each { |item| %>
                                    <tr class="cart-item">
                                        <td class="product-image">
                                            <a href="<%= item_path(item.id) %>" class="mr-5">
                                                <img src="<%= item.image_url %>">
                                            </a>
                                        </td>

                                        <td class="product-name">
                                            <span class="pr-4"><%= item.title %></span>
                                        </td>

                                        <td class="product-price d-none d-lg-table-cell">
                                            <span class="pr-4"><%= item.price %></span>
                                        </td>

                                        <td class="product-remove">
                                            <%= button_to delete_item_of_cart_path(item.id), :action =>"delete", :class => "btn btn-styled btn-block btn-warning btn-icon-left" do %>
                                                <i class="ion-trash-a"></i>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% }
                                else %>
                                    <p> Votre panier est vide. </p>
                                <% end%>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row align-items-center pt-5">
                        <div class="col-6">
                            <a href="<%= root_path %>" class="link link--style-3">
                                <i class="ion-android-arrow-back" ></i>
                                Return to shop
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <%# <button type="submit" class="btn btn-styled btn-base-1">Proceed to checkout</button> %>
                        <% unless @items_of_users_cart == nil %>
                            <%= form_tag merci_path do %>
                              <article>
                                <% if flash[:error].present? %>
                                  <div id="error_explanation">
                                    <p><%= flash[:error] %></p>
                                  </div>
                                <% end %>

                              </article>
                              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                      data-description="Paiement trop cool"
                                      data-amount= <%=check_total * 100 %>
                                      data-currency="eur"
                                      data-email="<%= current_user.email %>"
                                      data-locale="auto">
                                </script>
                        <% end 
                        end%>

                        </div>
                    </div>

            </div>


            <div class="col-lg-4 ml-lg-auto">
                <div class="card">
                    <div class="card-title">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3 class="heading heading-3 strong-400 mb-0">
                                    <span>Summary</span>
                                </h3>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge badge-md badge-pill bg-blue"><%= @items_of_users_cart == nil ? 0 : @items_of_users_cart.length %> items</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table-cart table-cart-review">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% unless @items_of_users_cart == nil
							 @items_of_users_cart.each { |item| %>
                                <tr class="cart_item">
                                    <td class="product-name">
                                        <%= item.title %>
                                        <strong class="product-quantity">× 1</strong>
                                    </td>
                                    <td class="product-total text-right">
                                        <span><%= item.price %></span>
                                    </td>
                                </tr>

                                <% }
                                end %>
                            </tbody>

                            <tfoot>
                                <tr class="cart-subtotal no-border">

                                <tr class="cart-total">
                                    <th><span class="strong-600">Total</span></th>
                                    <td class="text-right">
                                        <strong><span><%= check_total %></span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="sidebar sidebar--style-2 mt-5">
                    <div class="sidebar-object mb-0">
                        <div class="icon-block icon-block--style-1-v2">
                            <div class="block-icon block-icon-sm pt-2">
                                <i class="icon-transport-025"></i>
                            </div>
                            <div class="block-content">
                                <h3 class="heading heading-6 strong-500">Fast shipping from 24 to 38 hours</h3>
                                <p>
                                    We will send you your cat by howl don't worry.... except if the howl is hungry!
                                </p>
                            </div>
                        </div>

                        <div class="icon-block icon-block--style-1-v2 mt-5">
                            <div class="block-icon block-icon-sm pt-2">
                                <i class="icon-finance-114"></i>
                            </div>
                            <div class="block-content">
                                <h3 class="heading heading-6 strong-500">30 days money back guarantee</h3>
                                <p>
                                    You want your money back? You don't like your new cat? Are you serious? But....it's a cat! everybody loves cats !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
