<section class="slice-lg page-title bg-minimalist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 class="heading heading-1 strong-400 text-capitalize mb-2">
                        <span>Photos de chatons</span>
                    </h3>
                </div>
                <!-- Fluid text paragraph -->
                <div class="fluid-paragraph text-center mt-4">
                    <p class="">
                        Découvrez des photos de superbes chatons et achetez celles que vous préférez !
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1" id="sct_products">
<% if @list_items.length > 0 %>
	<div class="container shop-default shop-minimalist">
		<div class="row-wrapper">
			<div class="row cols-xs-space cols-sm-space cols-md-space">
			<% @list_items.each do |item| %>
				<div class="col-lg-3 col-md-6">
        			<div class="block product no-border z-depth-2--hover">
        			    <!-- Image produit -->
        			    <div class="block-image">
        			        <a href="<%=item_path(item.id)%>">
        			            <img alt="<%= item.title %>" src="<%=item.image_url%>" >
        			        </a>
        			    </div>
						<!-- Informations produits -->
		    	    	<div class="block-body px-0 text-center">
		    	    	    <h3 class="heading heading-6 strong-500 text-capitalize">
		    	    	        <a href=" <%=item_path(item.id)%> ">
		    	    	            <%=item.title %>
		    	    	        </a>
		    	    	    </h3>
		    	    	    <div class="price-wrapper">
		    	    	        <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%= item.price %> €</span></span>
		    	    	    </div>
                            <% if user_signed_in? %>
                            <div class="d-table product-quantity width-100 mt-3">
                                <div class="d-table-cell">
                                    <!-- Add to cart button -->
                                    <%= button_to add_item_to_cart_path(item.id), :class => "btn btn-styled btn-block btn-base-1 btn-icon-left" do %>
                                            <i class="icon ion-bag"></i> Ajouter au panier
                                    <% end %>
                                </div>
                            </div>
                            <% end %>
		    	    	</div>
		    	    </div>
        		</div>
    		<% end %>
    		</div>
    	</div>
	</div>
<% else %>
	<p> Il n'y a pas encore d'item. Revenez bientôt ! </p>
<% end %>

	</div>
</section>
