<section class="slice sct-color-1">
	<div class="container">
		<!-- Product gallery and Description -->
		<div class="row cols-xs-space cols-sm-space cols-md-space">
		    <div class="col-lg-6">
		    	<div class="gallery-container">
		    		<div id="slideshow" class="gallery-top no-padding bg-transparent">
		    			<div class="desoslide-wrapper">
		    				<img class="img-responsive" src="<%= @this_item.image_url %>" alt="<%= @this_item.title %>" style="opacity: 1;">
		    			</div>
		    		</div>
		    		
		    	</div>
		    </div>
		    <div class="col-lg-6">
		    	<div class="px-2">
		    		<!-- Product description -->
					<div class="product-description-wrapper px-1">
						<!-- Product title -->
						<h2 class="product-title">
							<%= @this_item.title %>
						</h2>
						<hr>
						<!-- Product description -->
						<div class="product-short-text mt-3">
						    <h3 class="heading heading-xs strong-500 text-uppercase">
						        Description:
						    </h3>
						    <p><%= @this_item.description %></p>
						</div>
						<hr>
						<span class="d-block heading-xs text-uppercase c-gray-light mt-4">Prix :</span>
						<h2 class="heading heading-2 strong-600 c-base-1 mt-2"> <%= @this_item.price %> </h2>
						<!-- Add to cart button if user is connected :-->
						<% if user_signed_in? %>
						<div class="d-table product-quantity width-100 mt-3">
							<div class="d-table-cell">
								<!-- Add to cart button -->
								<%= button_to add_item_to_cart_path(@this_item.id), :class => "btn btn-styled btn-block btn-base-1 btn-icon-left" do %>
  										<i class="icon ion-bag"></i> Ajouter au panier
								<% end %>
							</div>
						</div>
						<% end %>
					</div>
		    	</div>	    	
		    </div>
		</div>
	</div>
</section>