<nav class="navbar navbar-expand-lg navbar--bold navbar--style-2 navbar-light bg-default  navbar--bb-1px" fixed-top">
 <a class="navbar-brand" href="<%= root_path %>">Mon chat à Moi</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
     </li>

   </ul>
     <ul class="nav navbar-nav navbar">
       <% if user_signed_in? %>

         <li>
           <a class="nav-link"><%= "Bonjour"+" "+ current_user.firstname%></a>
         </li>

                   <li class="nav-item">
            <a class="nav-link" href="<%= my_profil_path %>">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= cart_list_path %>">Panier</a>
          </li>

          <li class="nav-item">
            <a class=<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </li>

       <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
          </li>
      <% end %>


   </ul>
 </div>
</nav>
